.App {
  text-align: center;
}
header {
  background-color: black;
  color: whitesmoke;
  text-shadow: 1px 1px 5px #fff;
  margin: 0;
  padding: 1.5rem;
}
.buttonsContainer {
  display: flex;
  justify-content: space-around;
  align-content: center;
}
button {
  padding: 1rem;
  border-radius: 25px;
  border: none;
  font-family: "Oswald", helvetica, sans-serif;
}
button:hover {
  cursor: pointer;
  color: white;
  padding: 0.9rem;
  border: 1px solid white;
}
#rick {
  background-color: #97d7d7;
}
#morty {
  background-color: #f9f675;
}
#jerry {
  background-color: #445129;
}
#summer {
  background-color: #de6dc7;
}
#beth {
  background-color: #e85355;
}
main {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-evenly;
  margin: 1rem;
}
footer {
  background-color: #5db331;
  display: flex;
  justify-content: space-between;
  color: black;
  margin: 0;
  padding: 1.5rem;
}
/* write your parent styles in here for your App.js */
