.App {
  text-align: center;
}
header {
  background-color: black;
  color: whitesmoke;
  text-shadow: 1px 1px 5px #fff;
  margin: 0;
  padding: 1.5rem;
}
main {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-evenly;
  margin: 1rem;
}
footer {
  background-color:#5DB331;
  display: flex;
  justify-content: space-between;
  color: black;
  margin: 0;
  padding: 1.5rem;
}
/* write your parent styles in here for your App.js */
