.App {
  text-align: center;
}
header {
  background-color: black;
  color: whitesmoke;
  text-shadow: 1px 1px 5px #fff;
  margin: 0;
  padding: 1.5rem;
}
.cardName {
  font-size: 1.2rem;
}
footer {
  background-color: #060039;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 1.5rem;
}
/* write your parent styles in here for your App.js */
